.footer {
        z-index: 9999;
        position: fixed;
        height: 15px;
        left: 0;
        bottom: 0;
        width: 100%;
        font-size: 10px;
        color: #FFF;
        text-align: center;
        padding: 0;
        background-color: #438AFE;
}

.footer a, .footer a:hover {
    text-decoration: none;
    color: #FFF;
}


.column-action{
    width: 100px;
    text-align: right;
}
.column-id{
    width: 100px;
    text-align: left;
}

.table td {
    padding: 0.3rem !important;
}

.tab-content{
    min-height: 200px !important;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: 'Procurar';
}
